<header class="nav" id="navbar">

  <div class="logo">LARAMI HOUSES</div>

  <ul class="nav-links">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/narok.html">Narok</a></li>
    <li><a href="/mara.html">Mara</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/contact.html">Contact</a></li>
      <span class="nav-slider"></span>

  </ul>

  <div class="menu-btn">☰</div>

</header>

<div class="menu-overlay"></div>

<div class="side-menu">
  <a href="/index.html">Home</a>
  <a href="/narok.html">Narok House</a>
  <a href="/mara.html">Mara House</a>
  <a href="/about.html">About</a>
  <a href="/contact.html">Contact</a>
</div>